:root {
  --info: #268bd2;
  --tip: #859900;
  --warn: #cb4b16;
  --error: #dc322f;

  --sidebar-width: 320px;
  --sidebar-offset: -320px;
  --std-max-width: none;

  --sidebar-background: var(--uwe-navy-100);
  --sidebar-selected: var(--uwe-navy-300);

  --uwe-feature-background: var(--uwe-navy-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --sidebar-background: var(--uwe-navy-700);
    --sidebar-selected: var(--uwe-navy-600);
    --uwe-feature-background: var(--uwe-navy-900);
  }

  img.svg.icon {
    filter: invert(.8);
  }

}

html, * {
  box-sizing: border-box;
}

body {
  display: flex;
  overflow: hidden;
  padding: 0;
}

main {
  flex: 1;
  overflow-y: auto;
  height: 100vh;

  /* Important so that pre elements do not overflow the width
   * and therefore will respect overflow and scroll properly */
  min-width: 0;
}

main header {
  /*margin: 0;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--std-background);
  filter: drop-shadow(0px 1px 0px var(--uwe-header-shadow-color));
  height: var(--uwe-header-height);
  position: sticky;
  z-index: 100;
  top: 0;
}

main > header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

main > header > nav > a {
  margin-right: var(--uwe-gutter-large) !important;
}

main > header > nav > .home {
  width: 90px;
  height: 30px;
}

main > header > nav > a {
  font-family: var(--std-font-headings);
  font-style: italic;
  color: var(--std-color);
}

main > header a {
  text-decoration: none;
}

main > header + article {
  padding: var(--uwe-gutter-large) 0;
  max-width: 1296px;
  margin: 0 auto;
}

article p, article pre, article blockquote {
  max-width: 760px;
}

[id] {
  scroll-margin-top: var(--uwe-header-height);
}

[for="sidebar-toggle"] {
  cursor: pointer;
  font-family: var(--std-font-headings);
  font-style: italic;
  text-transform: uppercase;
}

[for="sidebar-toggle"] span {
  margin-right: var(--uwe-gutter-small);
}

[for="sidebar-toggle"] > * {
  display: inline-block;
  vertical-align: middle;
}

[for="sidebar-toggle"] > img {
  margin: 0;
  max-width: none;
}

svg {
  fill: currentColor;
}

li.selected {
  background: var(--sidebar-selected);
}

body > aside {
  background: var(--sidebar-background);
}

body > aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > aside ul li {
  padding: var(--uwe-gutter-x-small) var(--uwe-gutter-small);
}

body > aside ul li a {
  display: block;
}

body > aside a {
  text-decoration: none;
}

body > aside summary {
  margin: var(--uwe-gutter-small) 0;
  /*font-size: 14px;*/
}

body > aside nav > p {
  margin: 0;
  padding: var(--uwe-gutter-small);
}

body > aside nav > p > a {
  text-decoration: none;
  color: inherit;
}

body > aside header {
  flex: 0 0;
  display: flex;
  height: var(--uwe-header-height);
  flex-basis: var(--uwe-header-height);
  filter: drop-shadow(0px 1px 0px var(--uwe-header-shadow-color));
  position: sticky;
  top: 0;
  background: var(--sidebar-background);
  padding: 0 var(--uwe-gutter-regular);
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

body > aside {
  overflow: hidden;
}

body > aside > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body > aside section {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

body > aside footer {
  flex: 0;
  filter: drop-shadow(0px -1px 0px var(--uwe-header-shadow-color));
  position: sticky;
  bottom: 0;
  background: var(--sidebar-background);
  padding: var(--uwe-gutter-regular);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: normal;
}

main > header {
  text-align: center;
}

main > header > nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

li {
  margin-top: 0;
}

main > footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows auto;
  grid-row-gap: var(--uwe-gutter-regular);
  grid-column-gap: var(--uwe-gutter-regular);

  font-size: var(--uwe-size-small);
  padding: var(--uwe-gutter-large) 0;
  background: var(--std-background);
  filter: drop-shadow(0px -1px 0px var(--uwe-header-shadow-color));
}

main > footer nav ul .selected {
  background: transparent;
}

main > footer nav h5 {
  font-size: var(--uwe-size-regular);
}

main > footer a {
  text-decoration: none;
}

main > footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  /*margin-bottom: 0.6em;*/
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

li > p:first-child, li > p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

li > a + p:last-child {
  font-size: 0.9rem;
}

/* For external stylesheets used for syntax highlighting remove the
 * background color so it does not clash with our dark mode handling */
.code {
  background-color: transparent;
}

.footnote-definition {
  display: flex;
}

.footnote-definition-label {
  margin-right: 2em;
}

article details {
  margin: 0 0 1em 0;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '▸';
    margin-right: var(--uwe-gutter-small);
}

details[open] > summary::before {
    content: '▾';
    margin-right: var(--uwe-gutter-small);
}

details {
    margin: 0 1em;
}

details > ul {
  margin-left: 1em !important;
}

details[open] > summary {
    margin-bottom: 0.5em;
}

/* LARGE */
@media screen and (min-width: 641px) {}

/* SMALL */
@media screen and (max-width: 640px) {
  article {
    padding: 0 var(--uwe-gutter-regular) !important;
  }

  main > footer {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--uwe-gutter-large) var(--uwe-gutter-regular);
  }
}
