@media print {
  body {
    display: block !important;
    overflow: visible !important;
  }

  body > aside {
    display: none !important;
  }

  main {
    overflow: visible !important;
    height: auto !important;
  }

  main > header, main > footer {
    display: none !important;
  }
}
