<header>
  <nav>
    <a href="{{link "/"}}" class="header-logotype"></a>
  </nav>
  {{#> sidebar-label~}}
  <span>Menu</span>&nbsp;{{include /assets/svg/menu.svg}}</span>
  {{~/sidebar-label~}}</header>
