<footer>
  <div></div>
  <div>
    <div>Last updated</div>
    <p>{{ date file.modified date-formats.date-medium local=true}}</p>
    <p>&copy; copyright 2020 <a href="https://tmpfs.org">tmpfs</a></p>
  </div>
</footer>
