<footer>
  <nav>
    <span><a href="{{ link "/docs/" }}">Docs</a></span>
    <span><a href="{{ link "/faq/" }}">FAQ</a></span>
    <span><a href="{{ link "/contact/" }}">Contact</a></span>
    <span><a href="https://blog.uwe.app">Blog</a></span>
  </nav>
  <div>{{~> github-edit~}}</div>
</footer>
