<footer>
  <nav>
    <span>[[docs|Docs]]</span>
    <span>[[faq|FAQ]]</span>
    <span>[[contact]]</span>
    <span>[[https://blog.uwe.app|Blog]]</span>
  </nav>
  <div>{{~> github-edit label="Edit on Github" title="Edit on Github"~}}</div>
</footer>
