<footer>
  <nav>
    <span>[[docs|Docs]]</span>
    <span>[[faq|FAQ]]</span>
    <span>[[contact]]</span>
    <span>[[https://blog.uwe.app|Blog]]</span>
  </nav>
  <div>
    <p>{{powered}}</p>
  </div>
</footer>
