<footer>
  <nav>
    <h5>Info</h5>
    <ul>
      <li>[[https://blog.uwe.app|Blog]]</li>
      <li>[[docs|Documentation]]</li>
      <li>[[https://releases.uwe.app|Releases]]</li>
      <li>[[faq|FAQ]]</li>
    </ul>
  </nav>
  <nav>
    <h5>Contact</h5>
    <ul>
      <li>[[https://github.com/uwe-app|Github]]</li>
      <li>[[https://discord.gg/gmhWetv2fE|Discord]]</li>
      <li>[[https://twitter.com/uwe_app/|Twitter]]</li>
      <li>[[https://github.com/uwe-app/community/discussions|Community Discussion]]</li>
      <li>[[https://github.com/uwe-app/community/issues|Report a bug]]</li>
    </ul>
  </nav>
  <nav>
    <h5>Documentation</h5>
    <ul>
      <li>[[docs/installation|Installation]]</li>
      <li>[[docs/tutorials|Tutorials]]</li>
      <li>[[docs/guides|Guides]]</li>
      <li>[[docs/cookbook|Cookbook]]</li>
      <li>[[docs/in-depth|In-Depth]]</li>
      <li>[[docs/security|Security]]</li>
      <li>[[docs/reference|Reference]]</li>
    </ul>

    {{!--
    <span>[[docs|Docs]]</span>
    <span>[[faq|FAQ]]</span>
    <span>[[contact]]</span>
    <span>[[https://blog.uwe.app|Blog]]</span>
    --}}
  </nav>
</footer>
