<footer>
  <nav>
    <h6>Info</h6>
    <ul>
      <li>[[https://blog.uwe.app|Blog]]</li>
      <li>[[docs|Documentation]]</li>
      <li>[[https://releases.uwe.app|Releases]]</li>
      <li>[[faq|FAQ]]</li>
    </ul>
  </nav>
  <nav>
    <h6>Contact</h6>
    <ul>
      <li>[[https://github.com/uwe-app|Github]]</li>
      <li>[[https://discord.gg/gmhWetv2fE|Discord]]</li>
      <li>[[https://twitter.com/uwe_app/|Twitter]]</li>
      <li>[[https://github.com/uwe-app/community/discussions|Community Discussion]]</li>
      <li>[[https://github.com/uwe-app/community/issues|Report a bug]]</li>
    </ul>
  </nav>
  <nav>
    <h6>Documentation</h6>
    <ul>
      <li>[[docs/installation|Installation]]</li>
      <li>[[docs/tutorials|Tutorials]]</li>
      <li>[[docs/guides|Guides]]</li>
      <li>[[docs/cookbook|Cookbook]]</li>
      <li>[[docs/in-depth|In-Depth]]</li>
      <li>[[docs/security|Security]]</li>
      <li>[[docs/reference|Reference]]</li>
    </ul>
  </nav>
  <nav>
    <h6>Guides</h6>
    {{menu "guides"}}
  </nav>
</footer>
