<footer>
  <div>
    <nav>
      <ul>
        <li>
          <a href="{{ link "/docs/" }}">Docs</a>
        </li>
        <li>
          <a href="{{ link "/faq/" }}">FAQ</a>
        </li>
        <li>
          <a href="{{ link "/contact/" }}">Contact</a>
        </li>
        <li>
          <a href="https://blog.uwe.app">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
