<header>
  <a class="main" href="{{ link "/" }}"><span class="logo">&lt;UWE&gt;</span></a>
  {{#> sidebar-label~}}
  <span>Menu</span><img width="24" height="24" src="{{link "/assets/svg/menu.svg"}}" alt="Menu">
  {{~/sidebar-label}}
</header>
