<header>
  <nav>
    <a href="{{link "/"}}" class="home">
      <img alt="Logo" src="{{link "/assets/svg/header-logotype.svg"}}" />
    </a>
    [[/docs/|Docs]]
    [[https://releases.uwe.app|Releases]]
  </nav>
  {{#match "/"}}
    <a href="https://github.com/uwe-app" title="Github">
      <img class="svg icon" src="{{link "/assets/svg/github.svg"}}" />
    </a>
  {{/match}}
  {{#match "/docs/"}}
  {{#> sidebar-label~}}
  <span>Menu</span>&nbsp;{{include /assets/svg/menu.svg}}
  {{~/sidebar-label~}}
  {{/match}}
</header>
