<header>
  <nav>
    <a href="{{link "/"}}" class="home">
      <img src="{{link "/assets/svg/header-logotype.svg"}}" />
    </a>
    [[/docs/|Docs]]
    [[https://releases.uwe.app|Releases]]
  </nav>
  {{#match "/docs/"}}
  {{#> sidebar-label~}}
  <span>Menu</span>&nbsp;{{include /assets/svg/menu.svg}}</span>
  {{~/sidebar-label~}}
  {{/match}}
</header>
