<header>
  <a class="main" href="{{ link "/" }}"><span class="logo">&lt;UWE&gt;</span></a>
  <!--<nav>-->
    <!--<a href="{{ link "/install/" }}">Install</a>-->
    <!--<a href="{{ link "/usage/" }}">Usage</a>-->
    <!--<a href="{{ link "/docs/" }}">Docs</a>-->
  <!--</nav>-->
</header>
