{{#match "/docs/"~}}
<div>
<header>
  {{#> sidebar-label~}}
  {{include /assets/svg/close.svg}}
  {{~/sidebar-label~}}</header>
<section>{{import "sidebar"~}}</section>
<footer>
  <p>{{~> github-edit label="Edit on Github" title="Edit on Github"~}}</p>
  <small>{{powered}} ({{generator}})</small>
</footer>
</div>
{{~/match}}
